[tool.poetry]
name = "paicorelib"
version = "0.0.6"
description = "Library of PAICORE 2.0 in Python."
authors = ["Ziru Pan <zrpan@stu.pku.edu.cn>"]
maintainers = ["Ziru Pan <zrpan@stu.pku.edu.cn>"]
license = "GPL-3.0-or-later"
readme = "README.md"
repository = "https://github.com/PAICookers/PAIlib"
homepage = "https://github.com/PAICookers/PAIlib"
documentation = "https://github.com/PAICookers/PAIlib#readme"
keywords = ["PAICORE 2.0", "PAIBox", "PAILib"]
packages = [{ include = "paicorelib" }]

[tool.poetry.dependencies]
python = "^3.8"
numpy = "^1.23.0"
pydantic = "^2.0"

[tool.poetry.group.test.dependencies]
pytest = { version = "^7.4.0", python = "^3.8" }


[tool.pytest.ini_options]
minversion = "7.0.0"
testpaths = ["tests"]


[[tool.poetry.source]]
name = "PyPI"
priority = "primary"


[[tool.poetry.source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
priority = "default"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
